* {
    margin : 0;
    box-sizing : border-box;
    font-family : Arial;
}
a {
    text-decoration : none;
    color : white;
}
header {
    display:flex;
    flex-wrap : wrap;
    justify-content : space-between;
    padding : 30px 30px;
    background-color : rgb(30, 60, 86);
    color : white;
    align-items: center;  /*new*/
}
.rp2 {
    text-align : right;
}
.headerPart1 {
    font-size : 30px;
}
.headerList {
    list-style-type : none;

}
.listItems {
    display : inline;
    padding : 10px;
    margin-left : 10px;
    font-size : 20px;
    transition : 0.4s;
}
.listItems:hover {
    background-color : white;
    color : black;
    border :none;
    border-radius : 10px;
}
.footerRow1 {
    display : flex;
    padding : 30px 30px;
    justify-content : space-between;
    background-color : rgb(30, 60, 86);
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
    margin-top : 60px;
    align-items : center;
}
.f1 {
    color : white;
    width : 30%;
    font-size : 30px;

}
.f2 {
    width : 20%;
    color : white;
    gap : 30px;
    font-size : 30px;
    display :flex;
    justify-content : center;
}
.f2 i{
    transition : 0.3s;
}
.f2 i:hover {
    color : rgb(81, 151, 222);
}
.f3 {
    color : rgb(171, 171, 171);
    width : 30%;
    text-align : justify;
    border-left : white solid 1px;
    padding-left : 20px;
}
.footerRow2 {
    padding : 20px 30px;
    display : flex;
    color : white;
    background-color : rgb(13, 24, 33);
    justify-content : space-between;
}
@media screen and (min-width : 320px) and (max-width:592px){
    * {
        width : 100%;
    }
    header {
        display : block;
        padding : 10px 10px 15px 10px;
    }
    .headerPart1{
        text-align : center;
        font-size : 15px;
        padding:10px 0 15px 0;
    }
    .listItems {
        font-size : 8px;
        transition : 0.4s;
        padding: 10px;
        margin : 0 ;
    }
    .headerList {
        display :flex;
        text-align : center;
        justify-content : space-between;
        padding-left : 0px;
    }
    .footerRow1 {
        display : block;
        padding : 20px 20px;
        margin-top : 60px;
        align-items : center;
        text-align : center;
    }
    .f1,.f2,.f3 {
        width : 100%;
        padding : 10px;
        font-size : 15px;
    }
    .f2 {
        font-size : 25px;
        
    }
    .f3 {
        border-left : none;
        padding :10px
    }
    .footerRow2 {
        font-size : 8px;
    }
    .f2p2 {
        text-align : right;
    }
    .f1 {
        font-size : 20px;
    }
}
@media screen and (min-width : 426px) and (max-width : 809px){
    .listItems {
        font-size : 15px;
    }
        .headerPart1{
        font-size : 15px;
    }
}
